html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

.heading {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Bevan", serif;
  margin: 0.3em 0 0;
}

nav ul {
  margin: 0;
  padding: 0 0.6em 0.6em;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  margin: 0.2em 0;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

nav a:hover {
  background-color: #f33;
}
