html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Bevan", cursive;
  background-color: #79756f;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
display: inline-block;
width: 6em;
padding: .6em;
background-color: #713837;
color: #fff;
text-decoration: none;
}
