html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Bevan', cursive;
  background-color: #79756f;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  color: #fff;
}

ul li {
  color: #fff;
  text-align: center;
  list-style-type: none;
}
